h3
{

	color:whitesmoke;
	font-size:40px;
	font-family: Verdana;
	background: blueviolet;
	margin-left: auto;

}
h4{
	background:blueviolet;
	color: ghostwhite;
}

p{
	background:blueviolet;

	width: 60%;
	margin:auto;
}
.fr{
	padding: 20px;
	background-color: blueviolet;
	width: 300px;
	
}
.f{
	padding: 5px;
	color:white;
	border-style: dotted;
	border-color: black;
}
.f input{
	padding: 5px;
}
.select{
	background-color:black;
	padding: 5px;
	color:white;

}
.select: hover{
	background-color:darkred;
	

}
img{
	float: right;
	margin: 20 20 20 20px;
	border-right-width: 10px;
	border-style: dashed;
}
